 0 art topics/art/Alexandre_Dumas
 1 art topics/art/Amedeo_Modigliani
 2 art topics/art/Captain_Nemo
 3 art topics/art/Cathedral_of_Chartres
 0 art topics/art/Claude_Monet
 1 art topics/art/Drawing
 2 art topics/art/Empty
 3 art topics/art/Impressionism
 0 art topics/art/Jean-Baptiste_Camille_Corot
 1 art topics/art/Jules_Verne
 2 art topics/art/Leonardo_da_Vinci
 3 art topics/art/Manet
 0 art topics/art/Michelangelo_Buonarroti
 1 art topics/art/Painters
 2 art topics/art/Painting
 3 art topics/art/Paul_Cezanne
 0 art topics/art/Paul_Gauguin
 1 art topics/art/Peter_Paul_Rubens
 2 art topics/art/Pierre-Auguste_Renoir
 3 art topics/art/Pissarro
 0 art topics/art/The_Count_of_Monte_Cristo
 1 art topics/art/The_Name_of_the_Rose
 2 art topics/art/The_Three_Musketeers
 3 art topics/art/Victor_Hugo
 0 art topics/art/Voltaire
 0 art topics/art/War_Games
 0 disney topics/disney/Beauty_and_the_Beast
 1 disney topics/disney/Finding_Nemo
 2 disney topics/disney/Mary_Poppins
 3 disney topics/disney/Pirates_of_the_Caribbean
 0 disney topics/disney/Snow_White_and_the_Seven_Dwarfs
 1 disney topics/disney/The_Walt_Disney_Company
 2 disney topics/disney/Toy_Story
 0 history topics/history/Adoption_in_Rome
 1 history topics/history/Fraticelli
 2 history topics/history/Jesuit
 3 history topics/history/Napoleon_Bonaparte
 0 history topics/history/Secret_Vatican_Archives
 1 history topics/history/Templar_Knights
 0 pop_culture topics/pop_culture/LEGO
 0 pop_culture topics/pop_culture/Leet
 0 pop_culture topics/pop_culture/Marshall_McLuhan
 0 pop_culture topics/pop_culture/Mass_media
 0 pop_culture topics/pop_culture/Mass_media_in_India
 0 science topics/science/Anatomy
 0 science topics/science/Comparative_anatomy
 0 science topics/science/Homology_biology
 0 science topics/science/Mathematics
 0 science topics/science/Phylogeny
 0 security topics/security/Demon_dialing
 0 security topics/security/Password_cracking
 0 security topics/security/Phishing
 0 security topics/security/Phreaking
 0 security topics/security/Security_cracking
 0 security topics/security/Social_engineering_computer_security
 0 security topics/security/War_chalking
 0 security topics/security/War_dialing
 0 security topics/security/War_driving
 0 sf topics/sf/Babylon_5
 0 sf topics/sf/Blake's_7
 0 sf topics/sf/Day_of_the_Triffids
 0 sf topics/sf/Doctor_Who
 0 sf topics/sf/Science_fiction_on_television
 0 sf topics/sf/The_Avenger_television
 0 sf topics/sf/The_Avengers
